.carrinho {
    border-bottom: 1px solid rgba(255, 255, 255, 0.315);
    height: 600px;
}

.breadcrumb {
    margin: 50px 25px 50px 80px;
}

.breadcrumb ol {
    background: #231F20;
    color: white;
}

.page{
    background-color: #f5f5f5;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
}