.bg {
    background: linear-gradient(180deg, rgba(208, 125, 0, 0.27) 0%, rgba(0, 0, 0, 0.65) 100%), #231F20;
    ;
    height: 665px;
    background-size: cover;
}

.Login {
    width: 400px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.85);
    position: relative;
    padding: 30px 45px 30px 45px;
    border-radius: 2px;
    line-height: 35px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    top: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Login label {
    color: white;
    display: flex;
    line-height: 25px;
}

.Login h1 {
    color: white;
    font-size: 20px;
    margin: -60px 0 0 -140px;
}

.Login input {
    width: 100%;
    margin-bottom: 25px;
}

.Login span {
    margin-right: 30px;
}

.btnEntrar {
    position: relative;
    background: #FF9900;
    border-radius: 3px;
    border: none;
    text-align: center;
    color: #231F20;
    width: 150px;
    height: 30px;
    top: 40px;
}

#titulo {
    position: relative;
    width: 245px;
    height: 35px;
    left: 90px;
    top: -60px;
    align-items: center;
    font-size: 23px;
    font-weight: bold;
}

.input {
    border-left: none;
    border-right: none;
    border-top: none;
    background-color: rgba(0, 0, 0, 0.0);
    height: 20px;
    color: white;
    font-size: 20px;
}