.page {
    border-bottom: 1px solid rgba(255, 255, 255, 0.123);
    height: auto;
    padding-top: 40px;
    padding-bottom: 300px;
    width: 100%;
}

.breadcrumb {
    margin: 15px 25px 50px 80px;
}

.breadcrumb ol {
    background: #231F20;
    color: white;
}

.menu-user {
    margin: 30px 0 0 80px;
}


/* card */

.produto {
    width: 50em;
    margin: 8px;
    margin: -200px 0 0 450px;
}