.contato {
    border-bottom: 1px solid rgba(255, 255, 255, 0.315);
}

.breadcrumb {
    margin: 50px 25px 50px 100px;
}

.breadcrumb ol {
    background: #231F20;
    color: white;
}

.form {
    margin: -15px 0 50px 110px;
    height: 550px;
}

.form p {
    font-size: 25px;
    font-weight: bold;
    color: white;
    margin-bottom: 30px;
}

.form label {
    color: white;
    margin-right: 50px;
    align-items: center;
    text-align: center;
}

.wrapper1 {
    display: inline-grid;
    grid-template-columns: 250px 250px;
}

.wrapper1 label {
    display: inline-block;
}

.wrapper2 {
    display: grid;
    grid-template-columns: 430px;
}

.wrapper2 input {
    width: 430px;
}

.wrapper3 {
    display: grid;
    grid-template-columns: 430px;
}

.wrapper3 textarea {
    height: 170px;
    width: 430px;
    padding: 10px 0 0 20px;
}

.wr {
    margin-bottom: 20px;
}

.wr input,
.wr textarea {
    border: none;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.199);
    color: white;
}

.wr input {
    border-bottom: 1px solid white;
    box-sizing: border-box;
    background: none;
}

::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.76);
}

 :-moz-placeholder {
    /* Firefox 18- */
    color: rgba(255, 255, 255, 0.76);
}

 ::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(255, 255, 255, 0.76);
}

 :-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.76);
}

.section {
    position: absolute;
    width: 600px;
    height: 30px;
    left: 50%;
    top: 218px;
    align-items: center;
    text-align: center;
    font-size: 1.5em;
    line-height: 25px;
    color: white;
}

.wrapper4 {
    display: inline-grid;
    grid-template-columns: 350px 350px;
    /* margin-bottom: 20px; */
}

.section .icon {
    color: #FF9900;
}

.maps {
    display: grid;
    position: absolute;
    width: 38%;
    height: 362px;
    left: 53%;
    top: 300px;
    color: white;
}

.maps label {
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    letter-spacing: 0.05em;
    margin-bottom: 30px;
}

.maps .img {
    width: 100%;
    height: 76%;
    left: 70%;
    background: url(./imagens/map.png);
    border: none;
}

.botton {
    float: left;
    margin: 20px 0 30px 170px;
    display: inline;
}

.botton button {
    margin-left: 50px;
    width: 150px;
    height: 40px;
    color: #FF9900;
    border: none;
    background: rgba(0, 0, 0, 0.96);
    border-radius: 3px;
}