        .home {
            height: 100%;
        }
        
        .bg {
            display: grid;
            height: 392px;
            left: 0px;
            top: 97px;
            background: url(./imagens/bg.png), linear-gradient(180deg, #000000 86.98%, rgba(35, 31, 32, 0.9) 100%);
            background-size: cover;
        }
        
        .container {
            margin: -100px 150px 0 150px;
        }
        
        .container .bloco {
            background: #000000;
            height: 500px;
            border-radius: 30px;
        }
        
        .container p {
            padding-top: 20px;
            text-align: center;
            color: white;
            font-size: 25px;
        }
        
        .container .img {
            background: red;
            height: 250px;
            padding: 20px 20px 0px 20px;
            align-items: center;
            margin-top: 80px;
            margin-left: 60px;
            margin-right: 20px;
        }
        
        .container .img-prod1 {
            background: url(./imagens/office.png) no-repeat;
        }
        
        .container .img-prod2 {
            background: url(./imagens/vscode.png) no-repeat;
        }
        
        .container .img-prod3 {
            background: url(./imagens/photoshop.png) no-repeat;
        }
        
        .container .img-prod4 {
            background: url(./imagens/database.png) no-repeat;
        }
        
        .container p {
            margin-left: auto;
            margin-right: auto;
            color: white;
            text-align: center;
        }
        
        .container .desc {
            height: 125px;
            width: 270px;
            padding: 10px 10px 10px 10px;
            margin-top: -20px;
        }
        
        .container .desc p {
            font-size: 17.5px;
        }
        
        .container .desc p {
            text-align: left;
            margin-left: 50px;
        }
        
        .box {
            display: grid;
            margin: 50px 150px 0 150px;
            padding: 5px 0 5px 0;
            background: #000000;
            height: 120px;
            border-radius: 15px;
        }
        
        .box .col1 {
            border-right: solid 1px;
            color: white 23%;
        }
        
        .box .col1 p {
            color: white;
            margin-left: 75px;
            margin-top: 10px;
        }
        
        .box .col2,
        .col3 {
            color: white;
            margin: 25px 0 25px 0px;
            float: right;
        }
        
        .box .col2 p,
        .col3 p {
            color: #ffffff;
            margin: 20px 50px 0 0px;
            float: right;
        }
        
        .box .icon {
            color: #FF9900;
            font-size: 50px;
            margin: 5px 0px 25px 30px;
        }
        
        .box .line {
            height: 100px;
            width: 2px;
            border: 1px solid #FF9900;
            margin: 10px 0 0 10px;
            border-radius: 10px;
        }
        
        .titulo h4 {
            color: white;
        }
        
        .titulo {
            margin: 120px 150px 0 150px;
            padding: 0px 0 25px 0;
        }
        
        .faixa .desc1 {
            color: white;
            font-size: 18px;
            margin-top: -95px;
            margin-left: 50px;
        }
        
        .faixa .desc2 p {
            color: white;
            margin: -70px 0 0 20px;
            float: right;
        }
        
        .faixa .desc3 p {
            color: white;
            margin: 47px 0 0 20px;
            float: right;
            padding-right: 30px;
        }
        
        .container-pop {
            background: #000000;
            margin: 30px 150px 0 150px;
        }
        
        .container-pop .row {
            margin-left: 75px;
        }
        
        .site-info {
            overflow: hidden;
            background-color: black;
            margin-top: 30px;
            height: 250px;
        }
        
        .site-info .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 30px 0;
        }
        
        .site-info .info-slide {
            float: left;
            width: 33.33333%;
            box-sizing: border-box;
            padding: 55px 45px 20px;
            text-align: center;
            position: relative;
        }
        
        .site-info .img-container {
            height: 55px;
        }
        
        .img-container .icon {
            font-size: 55px;
            color: #FF9900;
        }
        
        .site-info .info-slide h1 {
            font-size: 20px;
            font-weight: 500;
            line-height: 1.4;
            color: white;
            margin: 16px 0 0;
        }
        
        .site-info .info-slide p {
            color: white;
            font-size: 15px;
            margin: 4px 0 10px;
            line-height: 1.2;
        }
        
        .site-info .info-slide>.img-container img {
            vertical-align: middle;
        }
        
        .categorias {
            margin-bottom: 100px;
        }
        
        .categorias .hearder {
            margin-left: 150px;
            margin-top: 100px;
        }
        
        .categorias .hearder h1 {
            font-family: Roboto;
            font-style: normal;
            font-size: 25px;
            line-height: 35px;
            color: #FFFFFF;
        }
        
        .categorias .container {
            margin: -100px 150px 0 150px;
            height: 500px;
        }
        
        .categorias .container .galeria {
            width: 100%;
            margin-top: 130px;
            background: #000000;
            height: 285px;
            ;
        }
        
        .galeria .g {
            margin: 20px 50px 20px 50px;
            height: 100px;
        }
        
        .categorias .container .galeria1 {
            display: inline-grid;
            width: 100%;
            grid-template-columns: 25% 25% 25% 25%;
        }
        
        .categorias .container .galeria2 {
            width: 100%;
            display: inline-grid;
            grid-template-columns: 25% 25% 25% 25%;
        }
        
        .galeria1 .image,
        .galeria2 .image {
            width: 100%;
            height: 70%;
            background: #FFFFFF;
        }
        
        .galeria1 .categ,
        .galeria2 .categ {
            width: 100%;
            height: 30%;
        }
        
        .categ h1 {
            width: 100%;
            font-size: 20px;
            text-align: center;
            color: white;
        }
        
        .galeria1 .g .foto1 {
            background: url(./imagens/escritorio.png) no-repeat;
            margin-left: 40%;
        }
        
        .galeria1 .g .foto2 {
            background: url(./imagens/photoshop-cp.png) no-repeat;
            margin-left: 37%;
            background-size: 70px 70px;
        }
        
        .galeria1 .g .foto3 {
            background: url(./imagens/visio.png) no-repeat;
            margin-left: 40%;
            background-size: 55px 60px;
        }
        
        .galeria1 .g .foto4 {
            background: url(./imagens/bizagi.png) no-repeat;
            margin-left: 30%;
            background-size: 100px 75px;
        }
        
        .galeria2 .g .foto1 {
            background: url(./imagens/vs.png) no-repeat;
            margin-left: 40%;
            background-size: 60px 65px;
        }
        
        .galeria2 .g .foto2 {
            background: url(./imagens/intellij.svg.png) no-repeat;
            margin-left: 37%;
            background-size: 70px 60px;
        }
        
        .galeria2 .g .foto3 {
            background: url(./imagens/bd.png) no-repeat;
            margin-left: 40%;
            background-size: 55px 60px;
        }
        
        .galeria2 .g .foto4 {
            background: url(./imagens/cloud.png) no-repeat;
            margin-left: 35%;
            background-size: 80px 75px;
        }