* {
    margin: 0;
    padding: 0;
}

body {
    background: #231F20;
}

a:hover {
    color: #FF9900;
}

a {
    color: #FFFFFF;
}

button:hover {
    background: #D4D4D4;
}

button {
    background: #FF9900;
}