.menu{
    background: #000000;    
    height: 85px;

}

/*Logo*/

.brand-logo{
    position: relative;
    height: 60px;
    padding: 5px 25px 5px 25px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    margin-left: 100px;
    top: 10px;
    
}

/*Barra de pesquisa*/

.menu input{
    margin: 20px 100px 10px 100px;
    background: rgba(255, 255, 255, 0.78);
    width: 40%;
    height: 20px;
    border: none;
    text-align: center;
    border-radius: 30px;
}

/*Menu de opções*/

 .prod-options{
    background-color: white;
    position: relative;
    border:none; 
    float:left; 
    top:  -5px;
    margin: 0 100px 0 300px;
    background: none;
    
}


.prod-options li{
    list-style:none; 
    position:relative; 
    float:left; 
    border-right:none; 
    margin-right: 70px;
 
    color: #FFFFFF;
}

.prod-options li a{color: white;; text-decoration:none; padding:5px 10px; display:block;}
 


.prod-options li  ul{
    position:absolute; 
    top:30px; 
    left:0;
    background-color: black; 
    display:none;
}   

    

.prod-options li:hover ul, .menu li.over ul{display:block;}

.prod-options li ul li{
    border: none;
    display:block; 
    width:150px;
  
}

.prod-options i{
    float: left;
}


/*Menu do usuário*/

.user-options{
    position: relative;
    border:none; 
    float:left; 
    margin: -25px 70px 0 0;
    background: none;
}


.user-options li{
    list-style:none; 
    position:relative; 
    float:left; 
    border-right:none; 
    color: #FFFFFF;
}


.user-options li a{color: white;; text-decoration:none; padding:5px 10px; display:block;}
 
.user-options  u li a:hover{
    -webkit-box-shadow:0 1px 5px 0 #FF9900; 

}

.user-options  li  ul{
    position:absolute; 
    top:30px; 
    left:0;
    background-color: black; 
    display:none;
}   

    

.user-options  li:hover ul, .menu li.over ul{display:block;}

.user-options  li ul li{
    border: none;
    display:block; 
    width:150px;
}
.user-options  i{
    float: left;
    margin-left: -30px;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: #FFFFFF;
    padding-right: 15px;
}

.icons span {

 float: left;
 margin-left: 70px;
 margin-top: -20px;
 padding: 0 20px 0 0;
}
.prod-options .icon1{
    float: right;
    margin-right: -20px;
    margin-top: 10px;

}

.user-options .user{
    float: left;
    margin-left: -35px;
    margin-top: 0px;
    font-size: 35px;
    color: #FF9900;

}

.icons .icon{
    float: left;
    margin-left: -35px;
    margin-top: 0px;
    font-size: 23px;
    color: #FF9900;
}