.dropdown {
    color: white;
}

.menu {
    height: 100%;
    margin: 80px 0 0 100px;
}

.container {
    font-family: Roboto;
    color: #FFFFFF;
}

.container ul {
    list-style-type: none;
}

.nav-sidebar li {
    width: 250px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.397);
}

.nav-sidebar h3 {
    width: 250px;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
}

.nav-sidebar a {
    font-size: 20px;
    line-height: 30px;
}

.icon1 {
    margin-left: 140px;
}

.icon2 {
    margin-left: 129px;
}

.icon3 {
    margin-left: 161px;
}

.icon4 {
    margin-left: 115px;
}